.place__title{
    grid-area: title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
}

@media screen and (max-width: 425px) {
    .place__title {
    font-size: 32px;
    line-height: 109%;
    } 
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
        max-width: 330px;
    }
}

@media screen and (min-width: 769px) {
    .place__title {
        width: min-content;
    }
}
