.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 984px;
    row-gap: 80px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .places {
        row-gap: 50px;
        padding: 64px 5% 0 5%;
        width:90%;
        align-items: flex-start;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .places {
        row-gap: 73px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places {
        padding: 0 5%;
    }
}

@media screen and (min-width: 1025px) {
    .places {
        padding: 0 12%;
    }
}