.content {
    background-color:#2A2C2F;
    color: #fff;
    min-width: 320px;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    width: 100%;
    align-items: center;
}