.lead__title {
  font-size: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  width:75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px 16px;
  margin: 0;
  min-width: 288px;  
  text-decoration: none;
  color: white;
}