 .lead__image {
  min-width: 320px;
  max-width: 984px;
  overflow: hidden;
  object-fit: cover;
  margin: 0;  
  width:100%;
 } 
/*
@media screen  and (min-width:769px) and (max-width: 1024px) {
  .lead__image {
    max-width:928px;
    padding: 56px 5% 0 5%;
    width: 90%;
  }
} */
@media screen and (min-width:1025px) {
  .lead__image {
    padding: 0 12% 0 12%;
    width: 76%;
  }
}
*/