.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    text-align: left;
    min-width: 288px;
    max-width: 456px;
    margin: 0;
    padding-bottom: 12px;
    color: #AAAAAA;
}

@media screen and (max-width:1024px) {
    .place__url-heading {
        line-height: 1.0;
    }
}